.material-icons
{
	background-image: url("icon.png");
}
.navbar-brand
{
	font-style: italic;
}

.List
{
	list-style-type: black-circle;
}

.nav-link
{
	color: white;
}

#dt
{
	list-style-type: black-circle;
}

.nav-item
{
	font-color: black;
	padding-right: 10px;
}

.nav-link1
{
	font-color: black;
	padding-right: 50px;
}

